<div class="grid-x grid-padding-x medium-up-2 large-up-3"> 
  <% @tournaments.each do |tournament| %>
    <div class="cell">
      <%= TournamentCardPresenter.new(self, tournament).display %>
    </div>
  <% end %>
</div>

<%= render 'past_tournaments' %>
