<div class="container">
  <h2>Registered Players</h2>
  <p>Total registration: <%= @registration.count %> players</p>

<table id="tournament_list">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>AGA Number</th>
  </tr>

  <% @registration.each do |r| %>
    <tr>
      <td><%= r.user.first_name %></td>
      <td><%= r.user.last_name %></td>
      <td><%= r.user.aga_number %></td>
    </tr>
  <% end %>
</table>
</div>
