<div class="grid-x grid-margin-x">
  <div class="cell edit-header">
    <h3>Edit Tournament</h3>
    <%= link_to "Delete this tournament", tournament_path(@tournament.id),
                { class: "button small alert right", method: :delete, data: {confirm: "Are you sure?"} } %>
  </div>
</div>

<%= render 'form' %>
