<div class="grid-x grid-margin-x">
  <div class="cell tournament-edit-header">
    <h2>Edit Tournament</h2>
    <%= link_to "Delete this tournament", tournament_path(@tournament.id),
                { class: "button alert right", method: :delete, data: {confirm: "Are you sure?"} } %>
  </div>
</div>

<%= render 'form' %>
