<div class="container">
  <h1>All Tournaments</h1>

<table id="tournament_list">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>City</th>
    <th></th>
  </tr>

  <% @tournaments.sort{|a,b| b.start_date <=> a.start_date}.each do |tournament| %>
    <tr>
      <td><%= tournament.title %></td>
      <td><%= tournament.start_date %></td>
      <td><%= tournament.city %></td>
      <td><%= link_to 'Show', tournament_path(tournament) %></td>
    </tr>
  <% end %>
</table>
</div>
