// Place all the styles related to the Tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  border: 1px solid #C0C0C0;
  .card-tournament-title {
    font-size: 18px;
  }
  .img-section {
    height: 200px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      margin: auto; 
      min-height: 100%;
      min-width: 100%;

      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
    }
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

svg {
  margin-right: 1em;
}

.button.hollow {
  width: auto;
  font-size: 16px;
}

.button.hollow > a {
  color: #1779ba;
}

#past-tournaments {
  display: none;
}

table#tournament_list {
  margin-top: 1em;
  thead {
    background: #e6e6e6;
  }
}

.header-section {
  .header-item {
    margin-top: 1em;
  }
}

.subtitle {
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tournament-detail {
  margin-bottom: 3em;
  border-left: 5px solid #e6e6e6
}

.tournament-detail-item {
  margin-bottom: 1.5em;
}

p {
  font-size: 15px;
}
