// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-tournaments {
//  border-left: 5px solid #e6e6e6;
  .subtitle {
    margin-top: 0;
  }
  tbody {
    border: none;
  }
  .tabs-content > .tabs-panel > table.unstriped > tbody > tr {
    border-bottom: none;
  }
}

.profile-image {
  margin-bottom: 1em;
}

.profile-section {
  h5, p {
    margin-left: 16px;
  }
}