<!DOCTYPE html>
<html>
<head>
<title>Go Tournaments</title>

<link rel="stylesheet" href="app/assets/stylesheets/tournament.scss" type="text/css" />
</head>

<body>

  <div class="container">
    <div class="port">
      <div class="img-row">
          <div class="img-port">
            <% @tournaments.each do |tournament| %>
            <!-- image -->
            <h3><%= link_to(tournament.title, :controller => 'tournament', :action => 'show', :id => tournament.id) %></h3>
            <%= tournament.start_date %></p>
            <%= tournament.city %>, <%= tournament.state %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
