<!DOCTYPE html>
<html>
<head>
<title>Go Tournaments</title>

<link rel="stylesheet" href="app/assets/stylesheets/tournament.scss" type="text/css" />
</head>

<body>

  <div class="container">
    <div class="port">
      <div class="img-row">
          <div class="img-port">
            <% @tournaments.each do |tournament| %>
            <!-- image -->
            <h3><%= tournament.title %></h3>
            <p class="date"><%= tournament.start_date %></p>
            <p class="location"><%= tournament.city %>, <%= tournament.state %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
