<div class="main tournament-show">
  <div class="container">
    <div class="tournament">

      <div class="info">
        <!-- image -->
        <h3 class="tournament-title">  </h3>
        <p class="tournament-date">  </p>
        <p class="tournament-venue">  </p>
      </div>
    </div>
  </div>
</div>
